body {
    background-color: black;
}

.container {
    
    margin-top: 100px;
    margin-left: 500px;
    text-align: justify;
    font-size: xx-large;
    
}

.play {
    color: white;
}

.score {
    color: white
}